header {
  font-size: 33px;
  text-align: center;
  color: white;
  background-color: rgb(15, 17, 15);
}

h1 {
  margin-top: 0px;
}

body {
  text-align: center;
  margin-top: 0px;
  background-color: rgba(36, 161, 113, 0.603);
  width: 800px;
}

button {
  width: 100px;
  height: 90px;
}

h1 span:nth-child(1) {
  color: rgba(21, 138, 93, 0.507);
}
h1 span:nth-child(2) {
  color: lightblue;
}
