*{
    text-align: center;
}
body{
    background-color: rgba(36, 161, 113, 0.603);
}
.search-bar{
    width: 250px;
    left: 20px;
}

header{
    color: white;
    background-color: rgb(15, 17, 15);
    
}
.home_btn{
    text-align: left;
    display: inline;
}
h1{
    display: inline;
}
#div1{
    display: inline;
    text-align: left
}