@media screen and (min-width: 800px) {
    .container {
        width: 50%;
    }
}
h1 {
    text-align: center;
    font-size: 33px;
    background-color: green;
    color: white;
    margin-top: 0px;

}
body {
    margin-top: 0px;
}

h3.hurb{
    color: purple;
}
h3.americano{
    color:rgba(0, 0, 0, 0.932)
}
h3.coldbrew{
    color:rgb(32, 4, 4)
}
h3.cafelatte{
    color:rgb(77, 51, 51)
}
h3.topinut{
    color:rgb(110, 100, 79)
}
h3.kamomile{
    color:rgb(105, 110, 24)
}
h3.redpeper{
    color:rgb(139, 4, 4)
}
h3.jasmin{
    color:rgb(156, 34, 18)
}
h3.remon{
    color:yellow
}
h3.apple{
    color:rgb(10, 27, 8)
}
h3.jamon{
    color:rgb(204, 42, 42)
}

button:hover{
    color:brown
}
#HOT:hover{
    color:red
}
#COLD:hover{
    color:skyblue
}