h1 {
    text-align: center;
    font-size: 33px;
    background-color: rgb(15, 17, 15);
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}
.button{
    left: 108px;
    top: 15px;
    width: 45px;
    height: 45px;
    position: relative;
}
#cButton{
    text-align: center;
    margin-bottom: 50px;
}
.ctype{
    height: 35px;
}
.basket{
    background-color: rgba(104, 100, 95, 0.527);
    color: rgb(33, 24, 151);
}

.menu_name{
    display: inline;
    bottom: 85px;
    position: relative;
}

.menu_price{
    left: 108px;
    top: 5px;
    position: relative;
}
.menu_price1{
    left: 108px;
    top: 5px;
    position: relative;
} 
.menu_price_ade{
    left: 108px;
    top: 5px;
    position: relative;
} 
.menu_pic{
    width: 100px;
    height: 100px;
}


body {
    width:  100%;
    margin-left: 10% ;
    margin-top: 0px;
    background-color: rgba(36, 161, 113, 0.603);
}

.button:hover{
    color:rgb(187, 30, 30)
}

#pay-button-좌표{
    text-align: center;
}
#pay_button{
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    font-size: 25px;
}
.count{
    width: 35px;
    position: relative;
}

.hidden_img{
    display: none;
}
.hidden_img_size{
    width: 10%;
    height: 10%;
}