header(style={position: "sticky",top:0})
  nav(id="nav_bar" class="navbar navbar-dark bg-dark")
    div(class="container-fluid")
      i(onclick="location.href='/Jiny-Tree'" ,class="fa-solid fa-house")
      div Jiny-Tree
      button(class="navbar-toggler" ,type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent" ,aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" ,id="navbarSupportedContent")
        ul(class="navbar-nav me-auto mb-2 mb-lg-0")
          block nav

