extends base
block style 
  link(rel="stylesheet", href="src/css/menu.css")
block title
  title 지니나무
block content
    body(id="parent" ,onload="start_order()")
        include header
            block nav
            li(class="nav-item")
                a(class="nav-link", aria-current="page" , onclick="go_coffee();") coffee
            li(class="nav-item")
                a(class="nav-link" , onclick="go_tea();") tea
            li(class="nav-item")
                a(class="nav-link", onclick="go_ade();") ade
        ul(class="ul_menu")
            li(class="li_munu") 메뉴의 사이즈를 클릭하면 장바구니에 GET!
            li(class="li_munu") *추가 금액 발생 -아이스 +500원br -L사이즈 +1000원
        article(id="cButton")
            button(id='따뜻한' class="btn btn-danger" , onClick="addhot()")
                i(class="fa-solid fa-mug-hot")
            button(id='아이스' class="btn btn-primary" , onClick="addice()")
                i(class="fa-solid fa-glass-water")
        main(id="coffee")
        h1(id="coffee") Coffee
        div
            h3
                img(id="menu_pic", class="" ,name="hidden_hot" ,src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[94]_20210430103337006.jpg")
                img(id="menu_pic" ,class="hidden_ice", name="hidden_ice" ,src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[110563]_20210426095937808.jpg")
                img(class="hidden_img", name="hidden_img",src="https://github.com/strombreeding/Jiny-Tree/blob/main/img/KakaoTalk_20220429_162919725.png?raw=true")
                div(class="menu_name") 아메리카노
                    div(class="menu_price") M=3,000원 L=4,000원
            div(class="test")
                button(name="btn", class="btn btn-secondary" ,id="아메리카노M" ,onClick="reply_click(this.id)") M
                button(name="btn", class="btn btn-secondary" ,id="아메리카노L" ,onClick="reply_click(this.id)") L
            h3(id="capu")
                img(id="menu_pic", class="", name="hidden_hot" ,src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[38]_20210415154821846.jpg")
                img( id="menu_pic", class="hidden_ice", name="hidden_ice" ,src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[110601]_20210415143400773.jpg")
                img( class="hidden_img", name="hidden_img",src="https://github.com/strombreeding/Jiny-Tree/blob/main/img/KakaoTalk_20220429_162919725.png?raw=true")
                div(class="menu_name") 카푸치노
                    div(class="menu_price") M=3,000원 L=4,000원
            div(class="test")
                button(name="btn", class="btn btn-secondary" ,id="카푸치노M" ,onClick="reply_click(this.id)") M
                button(name="btn", class="btn btn-secondary" ,id="카푸치노L" ,onClick="reply_click(this.id)") L
        footer
            h2(class="basket") 장바구니
            section(id="basket")
            div(class="del_basket")
                button(id="del_basket", class="btn btn-secondary", onclick="del_basket();")
                    i(class="fa-solid fa-basket-shopping") 비우기
            div(id="re")
                ul(id="optionControl")

            div(id="total_price" ,style="padding-right: 8px; padding-bottom: 30px;") 총 결제금액
                input(style="width: 60px;", id="final_price" ,value="0" , readonlyspan) 
                span 원

            
            div(id="pay-button-좌표", style="padding-bottom: 30px;")
                button(id="pay_button", onclick="pay_go();") 주문하러 가기!
            
            div 음료 사진 출처 :(스타벅스) https://www.starbucks.co.kr/menu/drink_list.do 

block script 
    script(src="src/js/menu.js") 